body {
    margin: 0;
    padding: 0;
}
  
header {
    background-color: black;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
.logo img {
    width: 70px; /* 根据需要调整logo的宽度 */
}
  
nav ul {
    list-style: none;
    display: flex;
}
  
nav ul li {
    margin-left: 10px; /* 调整导航项之间的间距 */
}
  
nav ul li a {
    color: rgba(249, 212,9, 0.979);
    text-decoration: none;
}

.contact-section {
    text-align: center; /* 将"About Us"文字居中 */
}
  
.contact-content {
    max-width: 600px; /* 可根据需要调整内容区域的最大宽度 */
    margin: 0 auto; /* 将内容区域水平居中 */
}


.section-title {
    position: relative;
    font-size: 24px;
    display: inline-block;
}
  
.section-title::after {
    content: "";
    position: absolute;
    bottom: -5px; /* 调整下划线的位置 */
    left: 0;
    width: 100%;
    height: 3px;
    background-color: red;
}