body {
    margin: 0;
    padding: 0;
}
  
header {
    background-color: black;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
.logo img {
    width: 70px; /* 根据需要调整logo的宽度 */
}
  
nav ul {
    list-style: none;
    display: flex;
}
  
nav ul li {
    margin-left: 10px; /* 调整导航项之间的间距 */
}
  
nav ul li a {
    color: rgba(249, 212,9, 0.979);
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-section img {
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-top: 100px;
}

.price {
    font-size: 30px;
    color: red;
    margin-top: 30px;
}

.shipping-info {
    font-size: 16px;
    color: #888;
    margin-top: 40px;
}

.description {
    font-size: 16px;
    color: #020202;
    margin-top: 50px;
}

.purchase {
    font-size: 20px;
    color: red;
    margin-top: 60px
}