body {
    margin: 0;
    padding: 0;
}
  
header {
    background-color: rgb(5, 24, 39);
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
  
.logo img {
    width: 70px;
}
  
nav ul {
    list-style: none;
    display: flex;
}
  
nav ul li {
    margin-left: 10px;
}
  
nav ul li a {
    color: rgba(249, 212, 9, 0.979);
    text-decoration: none;
}
  
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.left-section img {
    max-width: 40%; /* Set the maximum width of the images */
    height: auto; /* Let the height scale automatically */
    margin-bottom: 10px;
}
  
.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}
  
.product-name {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
}
  
.price {
    font-size: 30px;
    color: red;
    margin-top: 10px;
}
  
.shipping-info {
    font-size: 16px;
    color: #888;
    margin-top: 20px;
}
  
.description {
    font-size: 16px;
    color: #020202;
    margin-top: 20px;
}
  
.purchase {
    font-size: 20px;
    color: red;
    margin-top: 20px;
}
  